## Create Database in Athena

In [1]:
import pandas as pd
import boto3
import sagemaker
import matplotlib.pyplot as plt
import os
import numpy as np

In [2]:
sess = sagemaker.Session()
bucket = sess.default_bucket()
role = sagemaker.get_execution_role()
region = boto3.Session().region_name

In [3]:
!pip install --disable-pip-version-check -q PyAthena==2.1.0
from pyathena import connect

In [4]:
database_name = "oneclickaws"
%store database_name

Stored 'database_name' (str)

In [5]:
# Set S3 staging directory -- this is a temporary directory used for Athena queries
s3_staging_dir = "s3://{0}/athena/staging".format(bucket)

In [6]:
conn = connect(region_name = region, s3_staging_dir=s3_staging_dir)

In [7]:
statement = "CREATE DATABASE IF NOT EXISTS {}".format(database_name)
print(statement)

CREATE DATABASE IF NOT EXISTS oneclickaws

In [8]:
pd.read_sql(statement, conn)

Empty DataFrame
Columns: []
Index: []

# Verify The Database Has Been Created Succesfully

In [9]:
statement = "SHOW DATABASES"

df_show = pd.read_sql(statement, conn)
df_show.head(5)

  database_name
0       default
1   oneclickaws

In [10]:
if database_name in df_show.values:
    ingest_create_athena_db_passed = True

In [11]:
%store ingest_create_athena_db_passed

Stored 'ingest_create_athena_db_passed' (bool)

In [12]:
%store

Stored variables and their in-db values:
database_name                              -> 'oneclickaws'
ingest_create_athena_db_passed             -> True
s3_public_path_csv                         -> 's3://projectads508'